In [2]:
import pandas as pd
import numpy as np

In [4]:
exp_seq = 23
df = pd.read_csv(f'result/exp_{exp_seq}_client_u_shaped_split_learning/result.csv', header=None)
df.columns = ['exp_seq', 'epoch', 'total_epochs', 'learning_rate', 'architecture_choice', 'batch_size', 'len_train_dataset', 'len_val_dataset', 'len_test_dataset', 'train_loss', 'train_dia_acc', 'train_sps_acc', 'val_loss', 'val_dia_acc', 'val_sps_acc', 'val_mean_acc', 'is_best_val', 'test_loss', 'test_dia_acc', 'test_sps_acc', 'test_mean_acc', 'time_server_load', 'time_client_training', 'time_server_training', 'time_validation', 'time_test', 'time_communication_server_to_client', 'time_communication_client_to_server', 'time_total', 'size_server_msg', 'size_server_output', 'size_client_head_gradient', 'size_server_model', 'size_client_msg', 'size_client_head_output', 'size_server_gradient']
df

,exp_seq,epoch,total_epochs,learning_rate,architecture_choice,batch_size,len_train_dataset,len_val_dataset,len_test_dataset,train_loss,...,time_communication_server_to_client,time_communication_client_to_server,time_total,size_server_msg,size_server_output,size_client_head_gradient,size_server_model,size_client_msg,size_client_head_output,size_server_gradient
0,23,0,5,0.00003,1,32,413,203,395,1.092602,...,10.376375,2.213616,93.183757,1070958909,648629,663136468,407173535,663785999,663136346,648824
1,23,1,5,0.00003,1,32,413,203,395,1.052516,...,11.573516,2.099196,94.272947,1070958826,648629,663136468,407173535,663785777,663136344,648824
2,23,2,5,0.00003,1,32,413,203,395,1.021771,...,11.500759,2.336369,89.481409,1070958826,648629,663136468,407173535,663785777,663136344,648824
3,23,3,5,0.00003,1,32,413,203,395,1.000002,...,11.346074,1.977746,80.359952,1070958826,648629,663136468,407173535,663785773,663136340,648824
4,23,4,5,0.00003,1,32,413,203,395,0.978053,...,11.485027,2.026294,71.964495,1070958826,648629,663136468,407173535,663785773,663136340,648824

In [7]:
df['time_total']

0    93.183757
1    94.272947
2    89.481409
3    80.359952
4    71.964495
Name: time_total, dtype: float64